<html>

<head>
    <title>{{ page_title }}</title>
</head>

<body>
    <div id="container">
        <header>
            {% block header %}
            <h1>Burt's Books</h1>{% end %}
        </header>
        <div id="main">
            <div id="content">
                {% block body %}{% end %}
            </div>
        </div>
        <footer>
            <p>
                For more information about our selection, hours or events, please email us at
                <a href="mailto:contact@burtsbooks.com">contact@burtsbooks.com</a>.
            </p>
            <p class="small">
                Follow us on Facebook at {% raw linkify("https://fb.me/burtsbooks", extra_params='ref=website') %}.
            </p>
            
            <h1>{{footer_text}}</h1>
        </footer>
    </div>
</body>

</html>
